/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: maroon;
}

#mainNavbar {
    background-color: lemonchiffon;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
    padding: 15px;
}

h3 {
    font-style: italic;
    color: white;
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 1.2rem;
}

.card {
    padding: 100px 0 0 0;
}

.row {
    padding: 15px 0 0 0;
}

footer {
    padding: 30px 0 20px 0;
    color: lemonchiffon;
    text-align: center;
}

#mainNavbar.scrolled {
    background-color: rgba(255, 250, 205, 0.7) !important;
    transition: background-color 200ms linear;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

#bagCount,
#arrayValues {
    color: maroon;
    padding: 10px;
}

.row div,
.row p {
    display: inline-block;
}

.buttonPayment {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #49D8B9;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    font-size: large;
}

/* Style for the container */
.scroll-container {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    overflow: overlay;
    /* This property creates a scrollbar if the content overflows the container */
}

#scroll {
    height: 250px;
    overflow: auto;
    border: 1px solid #ccc;
}

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
    /* Adjust as needed */
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ddd;
    /* Adjust as needed */
    border-radius: 6px;
    /* Adjust as needed */
}

.group label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.group {
    padding-bottom: 20px;
}

/*the navbar debugging starts here*/

[id^="bagItem"] {
    display: none;
}

[id^="favItem"] {
    display: none;
}

#smallscreen {
    display: none;
}

@media only screen and (max-width: 767px) {
    #smallscreen {
        display: block;
        /* Show the element on small screens */
    }
}

/* #space {
    padding-left: 10px;
    padding-right: 10px;
} */

#favQuantity,
#bagQuantity {
    color: black;
    text-align: center;
}

#textbackground {
    background-color: goldenrod;
    transform: translate(30px, -15px);
    /* Move 20px to the right and 20px up */
    display: inline-block;
    /* Ensures the span doesn't break onto a new line */
    border-radius: 50%;
    width: 1em;
    text-align: center;
}