/*this is for login/register page*/

body {
    background-color: maroon;
}

.loginRegister {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
}

.loginRegister .right {
    background-color: gold;
    border-radius: 20px;
    color: #000000;
    padding: 40px;
}

.loginRegister .right .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid #2b2727;
    padding-bottom: 20px;
}

.loginRegister .right .form h1,
.loginRegister .right .form .group:nth-child(-n+5) {
    grid-column-start: 1;
    grid-column-end: 5;
}

.loginRegister .right .form input,
.loginRegister .right .form select {
    background-color: lemonchiffon;
    color: #000000;
    padding: 10px 20px;
    border: none;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
}

.loginRegister .right .submission {
    display: flex;
    align-items: center;
}

.right .submission button {
    background-color: black;
    color: lightpink;
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
    border: none;
    font-weight: bold;
    height: 50px;
}

.right h1 {
    margin-bottom: 20px;
}

/*loginRegister left h1 form group input / left submission button*/

.left h1 {
    margin-bottom: 20px;
}

.left {
    background-color: #5358B3;
    border-radius: 20px;
    color: white;
    padding: 40px;
}

.left .form {
    display: grid;
}

.left .form input {
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #7a7fe2;
    color: white;
    padding: 10px 20px;
}

.left .submission {
    display: flex;
    align-items: center;
}

.left .submission button {
    background-color: aqua;
    color: maroon;
    border-radius: 20px;
    width: 100%;
    border: none;
    font-weight: bold;
    height: 50px;
    margin-top: 20px;
}

.left .form .group {
    margin-bottom: 20px;
}

.left .form {
    border-bottom: 1px solid #2b2727;
}

footer {
    text-align: center;
    color: white;
}