/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: maroon;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 500px;
    grid-gap: 10px;
    grid-auto-flow: dense;
    /*fill in the gaps amongst images in the grid gallery*/
    padding: 50px 0 10px 0;
}

.grid-items {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.grid-items .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-items .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    /*focus on middle portion of image*/
    cursor: pointer;
    transition: .5s ease-in-out;
}

.grid-items:hover .image img {
    transform: scale(1.5);
    /*magnify*/
}

.grid-items .text {
    opacity: 1;
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*align the text to the center*/
    color: darkslategrey;
    font-size: 34px;
    pointer-events: none;
    /*nothing will happen when click on it*/
    z-index: 4;
    padding: 10px;
    /*ensure text is infront of image when doing positioning*/
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}

.grid-items:hover .text {
    opacity: 1;
    /* animation: move-down .3s linear; */
    padding: 1em;
    text-align: center;
    /*separate text from background blur*/
    width: 100%;

}

.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

.w-3 {
    grid-column: span 3;
}

.w-4 {
    grid-column: span 4;
}

.w-5 {
    grid-column: span 5;
}

.w-6 {
    grid-column: span 6;
}

.h-1 {
    grid-row: span 1;
}

.h-2 {
    grid-row: span 2;
}

.h-3 {
    grid-row: span 3;
}

.h-4 {
    grid-row: span 4;
}

.h-5 {
    grid-row: span 5;
}

.h-6 {
    grid-row: span 6;
}

@media screen and (max-width: 767px) {

    /*for small screens, gonna break into 1 column only*/
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@keyframes move-down {
    0% {
        top: 10%;
    }

    50% {
        top: 35%;
    }

    100% {
        top: 50%;
    }
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar {
    font-size: 1.2rem;
}

#mainNavbar.scrolled {
    background-color: rgba(255, 250, 205, 0.7) !important;
    transition: background-color 200ms linear;
}

footer {
    color: lemonchiffon;
    text-align: center;
}

body {
    position: relative;
}

.bg {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    float: right;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: 2;
    /* Ensure the popup stays on top of the overlay */
}

.fg {
    text-align: center;
}

/*the navbar debugging starts here*/

[id^="bagItem"] {
    display: none;
}

[id^="favItem"] {
    display: none;
}

#smallscreen {
    display: none;
}

@media only screen and (max-width: 767px) {
    #smallscreen {
        display: block;
        /* Show the element on small screens */
    }
}

/* #space {
    padding-left: 10px;
    padding-right: 10px;
} */

#favQuantity,
#bagQuantity {
    color: black;
    text-align: center;
}

#textbackground {
    background-color: goldenrod;
    transform: translate(30px, -15px);
    /* Move 20px to the right and 20px up */
    display: inline-block;
    /* Ensures the span doesn't break onto a new line */
    border-radius: 50%;
    width: 1em;
    text-align: center;
}